:root {
  --background-color: #FAF8EF;
  --secondary-background-color: #CDC1B4;
  --text-color: #F9F6F2;
  --primary-color: #BBADA0;
  --secondary-color: #8F7A66;
  --hover-color: #776E65;
  --active-color: #3C3A32;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

ol > * {
  list-style-type: none;
}

ul > * {
  list-style-type: none;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background-color: var(--primary-color);
  padding: 0 2rem;
}

.navbar-text {
  width: 10rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  border: 2px var(--background-color) solid;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.navbar-button {
  font-size: 1.5rem;
  width: 10rem;
  height: 3rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: 2px var(--background-color) solid;
  border-radius: 5px;
  transition: background-color 0.1s ease-in, box-shadow 0.1s ease-in;
}

.navbar-button:hover {
  background-color: var(--hover-color);
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.1);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 15vh);
}

#board {
  border-collapse: collapse;
  width: 60vmin;
  height: 60vmin;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

#board td {
  border: 2px var(--background-color) solid;
  width: 25%;
  height: 25%;
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
