:root {
  --color-blue: #3D52A0;
  --color-light-blue: #7091E6;
  --color-grey: #8697C4;
  --color-light-grey: #ADBBDA;
  --color-white: #EDE8F5;

  --button-width: 10.5rem;
  --button-height: 4.5rem;
  --navbar-height: 15vh
}

body {
  margin: 0;
  background-color: var(--color-light-blue);
  color: var(--color-white);
  font-family: sans-serif;
  font-weight: bold;
  user-select: none;
}

ol > * {
  list-style-type: none;
}

ul > * {
  list-style-type: none;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
  background-color: #526db3;
  padding: 0 2rem;
}

.navbar-text {
  padding: 1.5rem;
  border-radius: 5px;
  border: 2px var(--color-light-grey) solid;
  background-color: var(--color-grey);
  font-size: 1.5rem;
}

.navbar-button {
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  color: var(--color-white);
  border: 2px var(--color-light-grey) solid;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: width 0.1s ease-in, height 0.1s ease-in, background-color 0.1s ease-in, box-shadow 0.1s ease-in;
}

.navbar-button:hover {
  width: calc(var(--button-width) * 1.1);
  height: calc(var(--button-height) * 1.1);
  background-color: darkseagreen;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.1);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--navbar-height));
}

#board {
  border-collapse: collapse;
  width: 60vmin;
  height: 60vmin;
}

#board td {
  border: 2px solid var(--color-light-grey);
  width: 25%;
  height: 25%;
  font-size: 1.5rem;
  background-color: var(--color-grey);
  color: var(--color-white);
}
